@import '@inkline/inkline/css/variables';
@import '@inkline/inkline/css/mixins';

:root {
    --spacing: 1rem;
    
    --border-top-left-radius: 0.25rem;
    --border-top-right-radius: 0.25rem;
    --border-bottom-right-radius: 0.25rem;
    --border-bottom-left-radius: 0.25rem;
    
    --color--primary--h: 195deg;
    --color--primary--s: 77%;
    --color--primary--l: 39%;
 --padding-top: 1rem;
    --padding-right: 1rem;
    --padding-bottom: 1rem;
    --padding-left: 1rem;
}

@include i-button() {
    ----padding-left: 2rem;
    ----padding-right: 2rem;
}
